<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace = "com.lz.Dao.UserDao">
	<select id = "selectByEmail" parameterType="string" resultType="com.lz.pojo.entity.User">
		SELECT *
		FROM lz_sports.user
		WHERE Email = #{email}
	</select>
	<select id="selectAllAndState" resultType="com.lz.pojo.vo.UserVO">
		SELECT u.UserID as id,u.registerTime,Username as name,Status as state,UserType as type,
		       a.AthleteState  as applyState,a.applyTime as applyTime
        from lz_sports.user u
		LEFT JOIN lz_sports.Athlete a ON u.UserID = a.UserID
		<where>
			<if test="name != null and name != ''">
				AND Username like CONCAT('%', #{name}, '%')
			</if>
			<if test="type != null and type != ''">
				AND Usertype = #{type}
			</if>
			<if test="date != null">
				AND registerTime > #{date}
			</if>
		</where>
		ORDER BY registerTime
		LIMIT #{pageSize} OFFSET #{currentPage}
	</select>
	<select id="getTotalUserCount" resultType="java.lang.Integer">
		SELECT COUNT(*)
		from lz_sports.user
		<where>
			<if test="name != null and name != ''">
				AND Username like CONCAT('%', #{name}, '%')
			</if>
			<if test="type != null and type != ''">
				AND Usertype = #{type}
			</if>
			<if test="date != null">
				AND registerTime >= #{date}
			</if>
		</where>
	</select>
	<select id="getUserNumsByMonth" resultType="java.lang.Integer">
		SELECT count(*) FROM lz_sports.user
		WHERE DATE_FORMAT(registerTime, '%Y%m') = #{month} and UserType != '工作人员'
	</select>
</mapper>