<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lz.mapper.SportsImgMapper">

    <insert id="addImageSrcs">
        INSERT INTO sportsimg(img_type, type_id, img_src)
        VALUES
        <foreach collection="imgSrc" item="src" separator=",">
            (#{type}, #{imgId}, #{src})
        </foreach>
    </insert>

    <delete id="deleteByTypeIdAndImgSrcAndImgType">
        DELETE FROM sportsimg
        WHERE type_id = #{typeId}
        AND img_type = #{imgType}
        AND img_src IN
        <foreach item="item" collection="src" open="(" separator="," close=")">
            #{item}
        </foreach>
    </delete>

    <select id="selectImgSrcByTypeAndId" resultType="java.lang.String">
        SELECT img_src
        FROM sportsimg
        WHERE img_type = #{imgType}
          AND type_id = #{typeId}
    </select>

</mapper>
